// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";

.button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #FE5123;
  background-color: #FE5123;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.submit-btn {
  border: 1px solid #FE9812;
  background-color: #FE9812;
}
.col-form-label {
  font-weight: bold;
}
